%a{:href=>"https://github.com/rishijain/adorable_cat_app", :target => "_blank"}
  =image_tag "https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png", :style => "position: absolute; top: 0; left: 0; border: 0;"
%div

  %h1{:style => "margin-left:380px;"} Adorable Cats Fact and Image 

  .box{:style => "margin-left:440px;margin-top:25px;"}
    = image_tag @image, :width => "300px", :height => "300px;"
%p.fact #{@fact} 


= link_to 'Next', root_path, :class => "btn"

