// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: #f1f5f8;
  font-size: 31px;
  font-weight: 400;
  font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
}

p {
  color: #f1f5f8;
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
  margin-left:130px;
}

.btn {
  color: black;
  background: #53ADED;
  margin-right: 660px;
  margin-top: -6px;
  
  font-size: 16px;
  text-decoration: none;
  line-height: 34px;
  height: 34px;
  float: right;
  padding: 0 15px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-transition: all 300ms ease-in-out;

}
